.meal {
  cursor: pointer;
  color: #fff;
  border: 5px solid #fff;
  width: 170px;
  height: 170px;
  position: relative;
}

.meal-img {
  width: 100%;
  height: 100%;
}

.hover-name {
  opacity: 0;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 170px;
  height: 170px;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.1;
  padding: 5px;
  transition: 350ms ease;
  z-index: 1;
}

.meal:hover .hover-name {
  opacity: 1;
  transition: 350ms ease;
}
